* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

#form {
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 450px;
}

h1 {
    font-size: 20px;
    padding-top: 8px;
    background-color: white;
}

p {
    font-size: 14px;
    padding-bottom: 8px;
    background-color: white;
}

#error {
    background-color: white;
    color: red;
    padding-top: 5px;
}

form {
    text-align: left;
    padding: 15px;
    background-color: white;
}

#fname {
    width: 47.8%;
    padding-left: 5px;
    height: 40px;
    text-align: left;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;

}

#lname {
    width: 47.8%;
    padding-left: 5px;
    height: 40px;
    text-align: left;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;

}

#email {
    width: 98.8%;
    height: 40px;
    text-align: left;
    padding-left: 5px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;

}

#phone {
    width: 98.8%;
    height: 40px;
    text-align: left;
    padding-left: 5px;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;

}

#pass {
    width: 98.8%;
    height: 40px;
    text-align: left;
    padding-left: 5px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;

}

label {
    background-color: white;
}

#day {
    width: 32%;
    height: 40px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 15px;
    margin-right: 4.4px;
    border-radius: 5px;

}

#month {
    width: 32%;
    height: 40px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    margin-right: 4.4px;
}

#year {
    width: 32%;
    height: 40px;
    border: 1px solid grey;
    background-color: white;
    margin-bottom: 15px;
    border-radius: 5px;

}

#male {
    margin-right: 20%;
    background-color: white;
    border-radius: 5px;

}

#submit {
    background-color: green;
    color: white;
    font-size: 15px;
    margin-left: 22%;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 10px;
}